* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montseratt", sans-serif;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.app {
  background-image: url("https://images.pexels.com/photos/1025469/pexels-photo-1025469.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
}


.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  height: 10vh;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 16px 16px;
  margin-top: -25px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 5vh;

  transition: 0.4s ease;
}

.search-box .search-bar:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box {
 margin-top: 12vh;
}

.location-box .location {
  color: white;
  font-size: 7vh;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: white;
  font-size: 3vh;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
  transition: 0.4s ease;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 5vh auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: white;
  font-size: 17vh;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(50, 50, 50, 0.2);
}

.weather-box .weather {
  color: white;
  font-size: 7vh;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 50, 0.5);
}

.init-box {
  text-align: center;
  transition: 0.4s ease;
}

.init-box .init-text {
  position: relative;
  display: inline-block;
  margin: 20vh auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: white;
  font-size: 8vh;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(50, 50, 50, 0.2);
}

footer {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 97%;
  color: white;
  font-size: 12px;
  font-weight: 100;
}
